<div>
    <div>
        <h1>Welcome to our page</h1>
        <p>plz fill the info</p>
    </div>
</div>

<div>
    <div>
        <div>
            <form action="/user.userControllers" method="POST">
                <legend>Enter Registration Information Here</legend>

                <div>
                    <label>name</label>
                    <input type="text" class="name" name="name" id="name">
                </div>

                <div>
                    <label>Phone Number</label>
                    <input type="number" class="phoneNo" name="phoneNo" id="phoneNo">
                </div>

                <div>
                    <label for="email">Email Address</label>
                    <input type="email" class="email" name="email" id="email">
                </div>

                <div>
                    <label for="password">Password</label>
                    <input type="password" class="password" name="password" id="password">
                </div>

                <div>
                    <label for="age">age</label>
                    <input type="text" class="age" name="age" id="age">
                </div>

                <button type="submit" class="submit">Submit</button>
            </form>
        </div>
    </div>
</div>